{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_Photos_list'|trans }}
{% endblock %}

{% block body %}
    <h1>
        {{ 'title_Photos_list'|trans }}
    </h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'Photos.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_created_at'|trans, 'Photos.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_updated_at'|trans, 'Photos.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_title'|trans, 'Photos.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_text'|trans, 'Photos.text') }}</th>
                <th>{{ 'label_gallery'|trans }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for Photos in pagination.items %}
                <tr>
                    <td>{{ Photos.id }}</td>
                    <td>{{ Photos.createdAt|format_date('long')}}</td>
                    <td>{{ Photos.updatedAt|format_date('long')}}</td>
                    <td>{{ Photos.title }}</td>
                    <td>{{ Photos.text }}</td>
                    <td>{{ Photos.galleries.title }}</td>
                    <td>
                        <a href="{{ url('Photos_show', {id: Photos.id}) }}" title="{{ 'action_view'|trans }}">
                            {{'action_view'|trans }}
                        </a>
                        <a href="{{ url('Photos_edit', {id: Photos.id}) }}" title="{{ 'action_edit'|trans }}">
                            {{'action_edit'|trans }}
                        </a>
                        <a href="{{ url('Photos_delete', {id: Photos.id}) }}" title="{{ 'action_delete'|trans }}">
                            {{'action_delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock  %}